/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif; */
body{
    color:#191919;
    font-family: 'Nunito Sans', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size:2rem;
    font-weight:bold;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;
    font-weight:bold;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    font-weight:bold;
}



button {
    color:#fff;
    background:#10c9c3;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
}

.header{
    height:100vh;
    max-height : 670px;
    background: url(../img/squirrels-5550173_1920.jpg);
    background:lightgrey;
    background-attachment: fixed;
    background-size: cover;
}

a.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    color:#191919;
}

a.nav-link.active{
    color:#10c9c3;
}

a.nav-link:hover{
    color:#10c9c3;
}

.progress, .progress-bar{
    height:3px;
}


.progress-bar{
    background: #10c9c3 ;
}



.bgblue{
    background: #10c9c3 ;
    color:#fff;
}

.bluetxt{
    font-size:13px;
}